.aboutmaindiv{
    padding: 20px 10px;
}
.aboutheadingg{
    background-color: #134611;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.abouttextdiv{
    display: flex;
}
.abouttext{
    margin-top: 10px;
    padding: 15px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-align: justify;
}
.abouttextt{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    margin-left: 20px;
    text-align: justify;
}
.meatteam{
    display: flex;
    gap: 20px;
    padding: 40px 50px;
    justify-content: space-between;
}
.meetteammember{
    background-color: #F6F6F6;
    height: auto;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}
.divteamimage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.teamimage{
    height: 200px;
    width: 70%;
}
.teamtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* line-height: 15px; */
}
.teamname{
    background-color: #134611;
    width: 100%;
    text-align: center;
    color: white;
    font: 15px;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
}
.teammember{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    opacity: 1;
}
@media(max-width:768px){
    .meatteam{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 10px;
    }
    .meetteammember{
        width: 100%;
        padding: 10px;
    }
    .abouttextdiv{
        display: flex;
        flex-direction: column;
    }
    .aboutheadingg{
        font-size: 15px;
        font-weight: 500;
        padding:5px;
    }
    .abouttext {
        margin-top: 16px;
        padding: 5px;
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 400;
        text-align: justify;
    }
}