.contactmain{
    /* padding: 50px 20px ; */
    margin-top: 120px;
}
.contactheading{
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    background-color: #134611;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
@media(max-width:768px){
    .contactheading{
        font-size: 20px;
        font-weight: 700;
    }
    .contactmain{
        /* padding: 50px 20px ; */
        margin-top: 90px;
    }
}